  <head>
    <title>Display Control Times</title>
  </head>

  <body>
    <h2>{{ bd.kms }}km ACP BREVET</h2>
    <table>
      <tr>
        <th>Checkpoint</th><th></th><th>Date  Time</th>
      </tr>
      <tr>
        <th>==========</th>><th></th></th><th>====  ====</th>
      </tr>
      {% for item in items %}
        {% if item.location != "" %}
          <tr>
            <td>{{ item.location }}</td>
          </tr>
        {% endif %}
        <tr>
          <td>{{ item.kms }}km </td><td>open:</td> <td>{{ item.open }}</td>
        </tr>
        <tr>
          <td>({{ item.miles }}mi)</td> <td>close:</td><td>{{ item.close }}</td>
        </tr>
        <tr>
          <td>----------</td><td></td><td>---------------</td>
        </tr>
      {% endfor %}
    </table>

  </body>
  
